li,
ul {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid silver;
  vertical-align: baseline;
}
.rmfwkrtjd {
  text-align: center;
}

.Table {
  text-align: center;
  vertical-align: middle;
}

.th1 {
  vertical-align: middle;
}

.board_text {
  width: 300px;
  height: 200px;
}
